header {
	height: 90px;
	width:100%;
	background: black;
	height: 75px;
	position: fixed;
	display: flex;
	overflow: hidden;
	top: 0;
	z-index: 100;
}
.main-content{
	position: relative;
	top: 65px;
	margin-bottom: 120px;
}
header .logo{
	position: relative;
	width: 10%;
	padding-left: 20px;
	font-size: 50px;
	color: #fff;
	margin-left: 12px;
	margin-top: 7px;
	font-family: sans-serif;
	letter-spacing: -5px;
	text-shadow: 10px 12px 10px red;
	box-sizing: border-box;
	float: left;
	
}
header nav {
	width: 80%;
	margin-left: 300px;

	/*text-indent: 150px;*/
	margin-top: 20px;
}
header nav a{
	font-size: 25px;
	padding-left: 20px;
	padding-top: 40px;
	font-family: bold;
	color: #fff;
    display: inline;
    text-decoration: none;

}
nav a:hover{
	text-decoration: underline;

}
 	#item_search
 	{

 		float: right;
 		margin-right: 100px;
 		margin-top: 13px;
 }

 
 .css-carousel {
	height:120px;
	width: 200%;
	padding:15px;
	margin:auto;
	margin-top: 1px;
	background: #fff;
	margin-left: 100px;
	position:relative;
	overflow:hidden;
  -webkit-animation: css-carousel 20s linear infinite;
	-moz-animation: css-carousel 20s linear infinite;
	-ms-animation: css-carousel 20s linear infinite;
	animation: css-carousel 20s linear infinite;
}
 .css-carousel ul li{
	list-style: none;
	display: inline;
}
 .css-carousel ul li img{
	height: 129px;
	width: 493px;
	margin:0 15px;
	position: relative;
    float:left;
    
}
@-webkit-keyframes css-carousel {
 0%, 15% {margin-left:0}
  17%, 30% { margin-left:-35%; }
  32%, 45% { margin-left:-67%; }
  47%, 60% { margin-left:-104%; }
  62%, 100% {margin-left: 0%}
  /*50%, 73% { margin-left:-200%; }*/
  /*75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}*/
    
}
@-moz-keyframes css-carousel {
  0%, 15% {margin-left:0}
  17%, 30% { margin-left:-35%; }
  32%, 45% { margin-left:-67%; }
  47%, 60% { margin-left:-104%; }
  62%, 100% {margin-left: 0%}
  /*50%, 73% { margin-left:-200%; }*/
  /*75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}*/
}
@-ms-keyframes css-carousel {
  0%, 15% {margin-left:0}
  17%, 30% { margin-left:-35%; }
  32%, 45% { margin-left:-67%; }
  47%, 60% { margin-left:-104%; }
  62%, 100% {margin-left: 0%}
  /*50%, 73% { margin-left:-200%; }*/
  /*75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}*/
}
@keyframes css-carousel {
  0%, 15% {margin-left:0}
  17%, 30% { margin-left:-35%; }
  32%, 45% { margin-left:-67%; }
  47%, 60% { margin-left:-104%; }
  62%, 100% {margin-left: 0%}
  /*50%, 73% { margin-left:-200%; }*/
  /*75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}*/
}
}
.wrap{
	background: #666;
	height: 800px;
}
figure{
	position: relative;
    width: 100%;
}
figcaption .title{
	text-align: left;

}
.primary .section1 , .section2, .section3   {
	width: 80%;
	font-size: 18px;
	color: green;
	background: #a5bca4;
	margin-top: 30px ;
	margin-bottom: 0;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
    position: relative;
}
.primary .section4 , .section5, .section6 , .thumb   {
	width: 100%;
	font-size: 18px;
	color: green;
	background: #a5bca4;
	margin-top: 30px ;
	margin-bottom: 0;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
    position: relative;
}
.section4 , .section5, .section6 , .thumb {
margin-left: 10px;
overflow: hidden;
}
picture img{
margin-left: 50px;
}
.wrap .advertisement{
	background: green;
	margin-left: 0;
}
aside{
	background: green;s
	background: #666;
	margin-top: 90px;
}
aside span{
	padding:3px;
	background: #b8b894;
	margin-left: 2px;
	margin-right: 3px;
	
}
aside i{
	margin-left: 3px;
}
.last-icon i{
padding-right: 5px;
}
.all-products{
	text-decoration: none;
	background: #ffe6e6;
	height: auto;
	border: 1px solid black;
}
.all-products li{
list-style: none;
font-size: 20px;
text-align: center;
height: 40px;
background: #808080;
margin-left: 0px !important;
border-bottom: 1px solid black;
padding-top: 5px;
}

ol li:nth-child(even) {
	background: #eee;
}

.all-products li a {
	text-decoration: none;
}
.all-products li a:hover{
font-size: 25px;
}

footer {
	width: 100%;
	height: 200px;
	background: #eee;
}
footer h4 {
	text-transform: uppercase;
}
.f1 {
	margin-left: 100px;
}
 .f1 li {
 	list-style: none;
 	margin-left: 0;
 }
.f3 li {
	list-style: none;
	display: inline;
	margin-left: 0;
}
.f3 li i {
	padding: 15px;
	background: #b8b894;
	border-radius: 50%;
}

 .f1, .f2 {
 	width: 290px !important;
 }
 .f3 {
 	width: 350px;
 }
 .f1 li a {
 	text-decoration: none;
 }