.wrap{
	width: 80%;
	min-width: 600px;
	background: #e3e4e5;
	margin:auto;
	overflow: hidden;
}
.content, aside{
	height: 600px;
}
.content{
	width: 80%;
	float: left;
	background: #a5bca4;
}
aside{
	width: 20%;
	float: left;
	background: #a5bcf7;
	
}
aside ul{
	padding-left: 0;
	list-style: none;

}
aside li{
	display: inline;
	text-decoration: none;
	padding-right: 10px;

}
ul a:hover {
	text-decoration: underline;
	font-size: 30px;
	color:#666;
}
